allure-pytest
allure-python-commons
atomicwrites
attrs
certifi
chardet
colorama
configparser
crayons
idna
importlib-metadata
iniconfig
more-itertools
msedge-selenium-tools
packaging
pluggy
py
pyparsing
pytest
requests
selenium
six
toml
urllib3
wcwidth
webdriver-manager
xlrd
zipp
